<!-- <p style="font-size: 0.75rem; color: #aaa;">© 2026 João Alves · </p> -->
<p style="font-size: 0.75rem; color: #aaa;">Je dis qu’il faut être voyant, se faire voyant, … inspecter l’invisible et entendre l’inouï. · Arthur Rimbaud</p>

<!-- <p style="font-size: 0.75rem; color: #aaa;">Je dis qu’il faut être voyant, se faire voyant · Arthur Rimbaud</p> -->


<script>
document.querySelectorAll('.author__urls a').forEach(function(link) {
  link.setAttribute('target', '_blank');
  link.setAttribute('rel', 'noopener');
});
</script>